page-profil-animal {

    .centrer{
        text-align: center;
        vertical-align: middle;
        
    }
    
    .btnRond{
        padding-top: 0;
        padding-block-end: 2.6rem;
        padding-bottom: round($number: 0);
        padding-block-start: round($number: 0);
        border-radius: 64px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
