ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }
  
  page-test {
      #map {
          height: 50%;
      }
      .centrer{
        text-align: center;
        vertical-align: middle;
        
    }

  }
